.thumb {
  padding: 10px;
  background-color: white;
  margin-bottom: 15px;
}
.header {
  color: black;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 111.111% */
  letter-spacing: 0.72px;
  margin-bottom: 14px;
  text-align: left;
}
.description {
  color: black;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 16px; /* 111.111% */
  letter-spacing: 0.72px;
  margin-bottom: 10px;
}
